@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Fixes */
.custom-scrollbar::-webkit-scrollbar { height: 8px; width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #444; }